.icon-heart:before {
  content: "\e800";
} /* '' */
.icon-comment:before {
  content: "\e801";
} /* '' */
.icon-star:before {
  content: "\e802";
} /* '' */
.icon-star-empty:before {
  content: "\e803";
} /* '' */
.icon-heart-filled:before {
  content: "\e804";
} /* '' */
.icon-ellipsis:before {
  content: "\f141";
} /* '' */
