.icon-heart {
  *zoom: expression(this.runtimeStyle[ "zoom" ] = "1", this.innerHTML = "&#xe800;&nbsp;");
}
.icon-comment {
  *zoom: expression(this.runtimeStyle[ "zoom" ] = "1", this.innerHTML = "&#xe801;&nbsp;");
}
.icon-star {
  *zoom: expression(this.runtimeStyle[ "zoom" ] = "1", this.innerHTML = "&#xe802;&nbsp;");
}
.icon-star-empty {
  *zoom: expression(this.runtimeStyle[ "zoom" ] = "1", this.innerHTML = "&#xe803;&nbsp;");
}
.icon-heart-filled {
  *zoom: expression(this.runtimeStyle[ "zoom" ] = "1", this.innerHTML = "&#xe804;&nbsp;");
}
.icon-ellipsis {
  *zoom: expression(this.runtimeStyle[ "zoom" ] = "1", this.innerHTML = "&#xf141;&nbsp;");
}
